<title>[bumps] - saved articles</title>

{{!-- header nav --}}
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
    <nav id="savedNav" class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/">[bs]</a></li>
                <li class="uk-active"><a href="/saved"><span uk-icon="bookmark"></span>&nbsp;saved articles</a></li>
            </ul>
        </div>
    </nav>
</div>

{{!-- hero --}}
<div id="tops" class="uk-background-blend-screen uk-background-primary uk-background-top-center uk-background-fixed uk-height-large" style="background-image: url(assets/images/atom-bomb.jpg);">
</div>

{{!-- begin saved articles --}}
<div class="uk-container">
    <h1 id="savedArticlesHeading" class="uk-heading-line"><span><span uk-icon="bookmark"></span>&nbsp;saved articles</span></h1>
    <div id="saved-results"></div>
    <a class="savedTops" href="#tops"><span uk-icon="arrow-up"></span>&nbsp;back top</a>

    {{!-- begin comments modal --}}
    <div id="commentsTrigger" class="commentsModal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="delete uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title"></h2>
        </div>
        <div class="uk-modal-body">
            <div id="attachedComments"></div>
            <form>
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <textarea id="commentField" class="uk-textarea" rows="5" placeholder="add your 2¢"></textarea>
                    </div>
                </fieldset>
            </form>
            
        </div>
        <div class="uk-modal-footer uk-text-right">
            {{!-- dynamic save button --}}
        </div>
    </div>
</div>

</div> {{!-- close container --}}

<hr>

{{!-- footer --}}
<nav id="savedFooter" class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-center">
        &copy; 2018 Julia Christian //\\ original articles by&nbsp;<a target="_blank" href="https://theoutline.com/">The Outline</a>
    </div>
</nav>

<script src="/assets/js/saved.js"></script>