<title>[bumps] - saved articles</title>
{{!-- header nav --}}
<nav id="savedNav" class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="/">[bumps]</a></li>
            <li class="uk-active"><a href="/saved"><span uk-icon="bookmark"></span>&nbsp;saved articles</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="/scrape"><span uk-icon="pull"></span>&nbsp;get new articles</a></li>
        </ul>
    </div>
</nav>
{{!-- hero --}}
<div class="uk-background-blend-color-dodge uk-background-primary uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(assets/images/atom-bomb.jpg);">
</div>
{{!-- begin saved articles --}}
<div class="uk-container">
    <h1 class="uk-heading-line"><span>saved articles</span></h1>










</div> {{!-- close container --}}

<script src="/assets/js/saved.js"></script>