body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}
h1, h2, h3, h4, h5, h6, .homeTops, .savedTops {
    font-family: 'Inconsolata', monospace;
}
.homeTops, .savedTops {
    color: #051136;
    font-weight: 700;
}
button {
    border-radius: 5px;
    color: #051136;
}
#homeFooter, #savedFooter {
    padding: 30px 0 30px 0;
    color: #c6c6c6;
}

/* home *************************************************************************************/
#homeNav {
    background-color: #051136;
}
.uk-navbar-nav > li > a {
    text-transform: lowercase;
    color: #F7C45E;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 18px;
}
.uk-navbar-nav > li > a:hover {
    color: #9CC9F9;
}
#homeNav > div.uk-navbar-left > ul > li.uk-active > a {
    color: #9CC9F9;
}
.uk-heading-line {
    padding-top: 60px;
}
#articlesHeading {
    color: #F7C45E;
    font-weight: 700;
}
#homeCard {
    border: solid 1px #F7C45E;
}
.saveButton:hover, .readButton:hover {
    border-color: #051136;
    background-color: #F7C45E;
}
.saveButton {
    border-color: #F7C45E;
    background-color: #f9f9f9;
}
.readButton {
    border-color: #e5e5e5;
    background-color: white;
}
.homeTops:hover {
    text-decoration: none;
    color: #F7C45E;
}
#homeFooter a {
    color: #F7C45E;
}

/* saved **********************************************************************************/
#savedNav {
    background-color: #f6cce5;
}
#savedNav > div.uk-navbar-left > ul > li.uk-active > a {
    color: #9CC9F9;
}
#savedNav > div.uk-navbar-left > ul > li.uk-active > a {
    color: #D13EBE;
}
#savedArticlesHeading {
    color: #efa1ce;
    font-weight: 700;
}
.savedTops:hover {
    color: #efa1ce;
    text-decoration: none;
}
#savedCard {
    border: solid 1px #efa1ce; 
}
.commentButton {
    border-color: #efa1ce;
    background-color: #f9f9f9;
}
.commentButton:hover, .removeButton:hover {
    background-color: #f6cce5;
    border-color: #051136;
}
#savedFooter a {
    color: #efa1ce;
}

/* media queries ******************************************************************************/
@media only screen and (max-width: 930px) {
    .saveButton, .commentButton {
        margin-bottom: 15px;
    }
}
